#
# pin constraints
#
NET GCLK LOC = "L15"  |  IOSTANDARD = "LVCMOS33";
NET RESET LOC = "T15"  |  IOSTANDARD = "LVCMOS33"  |  TIG;
NET RS232_Uart_1_sin LOC = "A16"  |  IOSTANDARD = "LVCMOS33";
NET RS232_Uart_1_sout LOC = "B16"  |  IOSTANDARD = "LVCMOS33";
NET rzq IOSTANDARD = "LVCMOS18_JEDEC";
NET zio IOSTANDARD = "LVCMOS18_JEDEC";

#Push Buttons
#
#
NET Push_Buttons_5Bits_TRI_I[0] LOC = "N4"  |  IOSTANDARD = "LVCMOS18";
NET Push_Buttons_5Bits_TRI_I[1] LOC = "P4"  |  IOSTANDARD = "LVCMOS18";
NET Push_Buttons_5Bits_TRI_I[2] LOC = "P3"  |  IOSTANDARD = "LVCMOS18";
NET Push_Buttons_5Bits_TRI_I[3] LOC = "F6"  |  IOSTANDARD = "LVCMOS18";
NET Push_Buttons_5Bits_TRI_I[4] LOC = "F5"  |  IOSTANDARD = "LVCMOS18";

# 7 segment outputs
NET score_display_2_0_seg_a_pin LOC = "U16"  |  IOSTANDARD = LVCMOS33; # Bank = 2,  Pin name = IO_L2P_CMPCLK,        	Sch name = EXP-IO1_P
NET score_display_2_0_seg_b_pin LOC = "U15"  |  IOSTANDARD = LVCMOS33; # Bank = 2,  Pin name = *IO_L5P,        		Sch name = EXP-IO2_P
NET score_display_2_0_seg_f_pin LOC = "U13"  |  IOSTANDARD = LVCMOS33; # Bank = 2,  Pin name = IO_L14P_D11,        	Sch name = EXP-IO3_P
NET score_display_2_0_seg_e_pin LOC = "M11"  |  IOSTANDARD = LVCMOS33; # Bank = 2,  Pin name = *IO_L15P,        		Sch name = EXP-IO4_P
NET score_display_2_0_seg_d_pin LOC = "R11"  |  IOSTANDARD = LVCMOS33; # Bank = 2,  Pin name = IO_L16P,        		Sch name = EXP-IO5_P
 
NET score_display_2_0_digit_5_pin LOC = "U11"  |  IOSTANDARD = LVCMOS33; # Bank = 2,  Pin name = IO_L23P,        		Sch name = EXP-IO9_P
NET score_display_2_0_digit_4_pin LOC = "R10"  |  IOSTANDARD = LVCMOS33; # Bank = 2,  Pin name = IO_L29P_GCLK3,        	Sch name = EXP-IO10_P
NET score_display_2_0_digit_3_pin LOC = "U10"  |  IOSTANDARD = LVCMOS33; # Bank = 2,  Pin name = IO_L30P_GCLK1_D13,      Sch name = EXP-IO11_P
NET score_display_2_0_digit_2_pin LOC = "R8"  |  IOSTANDARD = LVCMOS33;  # Bank = 2,  Pin name = IO_L31P_GCLK31_D14,     Sch name = EXP-IO12_P
NET score_display_2_0_digit_1_pin LOC = "M8"  |  IOSTANDARD = LVCMOS33;  # Bank = 2,  Pin name = *IO_L40P,        		Sch name = EXP-IO13_P
NET score_display_2_0_digit_0_pin LOC = "U8"  |  IOSTANDARD = LVCMOS33;  # Bank = 2,  Pin name = IO_L41P,        		Sch name = EXP-IO14_P

NET score_display_2_0_seg_g_pin LOC = "U7"  |  IOSTANDARD = LVCMOS33;  # Bank = 2,  Pin name = IO_L43P,        		Sch name = EXP-IO15_P
NET score_display_2_0_seg_c_pin LOC = "N7"  |  IOSTANDARD = LVCMOS33;  # Bank = 2,  Pin name = *IO_L44P,        		Sch name = EXP-IO16_P
 



#
# additional constraints
#

################AXI_AC97 CONSTRAINTS########################
Net axi_ac97_0_Bit_Clk_pin LOC = L13 | IOSTANDARD = LVCMOS33;
Net axi_ac97_0_SData_In_pin LOC = T18 | IOSTANDARD = LVCMOS33;
Net axi_ac97_0_SData_Out_pin LOC = N16 | IOSTANDARD = LVCMOS33;
Net axi_ac97_0_Sync_pin  LOC = U17 | IOSTANDARD = LVCMOS33;
Net axi_ac97_0_AC97Reset_n_pin LOC = T17 | IOSTANDARD = LVCMOS33;
#############################################################

NET "GCLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

#### HDMI Core constraints
# Overwrite existing VCCAUX setting for TMDS interfaces
CONFIG VCCAUX = 3.3;

############################################################

NET "*TMDS_TX_0_N*"    LOC = "C8"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_0_P*"    LOC = "D8"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_1_N*"    LOC = "A7"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_1_P*"    LOC = "C7"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_2_N*"    LOC = "A8"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_2_P*"    LOC = "B8"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_CLK_N*"  LOC = "A6"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_CLK_P*"  LOC = "B6"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_0_N*"    LOC = "K18" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_0_P*"    LOC = "K17" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_1_N*"    LOC = "L18" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_1_P*"    LOC = "L17" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_2_N*"    LOC = "J18" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_2_P*"    LOC = "J16" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_CLK_N*"  LOC = "H18" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_CLK_P*"  LOC = "H17" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_SCL*"    LOC = "M16" | IOSTANDARD = "I2C";
NET "*TMDS_RX_SDA*"    LOC = "M18" | IOSTANDARD = "I2C";

############################################################

NET "*SIG_PLL0?CLKOUT2" TNM_NET = globclk;
NET "*Inst_DynClkGen?PllOut_x1" TNM_NET = hdmipclk;

############################################################
# Timing Constraints                                       #
############################################################

TIMESPEC TS_path1 = FROM globclk TO hdmipclk 14 ns;
TIMESPEC TS_path2 = FROM hdmipclk TO globclk 10 ns;